footer {
    text-align: center;
}

footer p {
    color: #beb5b5;
    font-size: 24px;
    font-family: 'Josefin Sans', sans-serif;
}

footer h4 {
    color: var(--light);
    font-family: 'Josefin Sans', sans-serif;
    filter: opacity(50%);
    transform: scale(1.0) translateY(0px);
    transition: 0.5s;
}

footer h4:hover {
    transform: scale(1.21) translateY(-5px);
    transition: 0.5s;
}