.intro {
    padding: 73px 0;
    width: 100%;
    height: 400px;
}

.introduction {
    border-bottom: 2px solid var(--main);
    background-image: url("/img/intro2.png");
    background-repeat: no-repeat; 
    background-position: center;
}

.intro h1 {
    text-align: center;
    color: var(--light);
    position: absolute;
    left: 10%;
    right: 10%;
    margin-top: 150px;
    font-size: 64px;
    font-family: 'Permanent Marker', cursive;
    animation-duration: 1.7s;
}

.intro p {
    position: absolute;
    color: var(--light);
    text-align: center;
    left: 10%;
    right: 10%;
    margin-top: 250px;
    font-size: 24px;
    animation-duration: 2s;
    font-family: 'Josefin Sans', sans-serif;
}

.about {
    align-items: center;
    padding: 30px 0 30px 0;
}

.about-next {
    display: flex;
}

.about-next img {
    height: 300px;
    margin-top: 25%;
    margin-right: 60%;
}

.about h1 {
    font-family: 'Lato', sans-serif;
    color: var(--light);
    font-size: 54px;
    font-weight: 1000;
    text-align: left;
    margin-left: 15%;
}

.about p {
    color: #beb5b5;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 550;
    letter-spacing: 0.6px;
    line-height: 30px;
    margin-right: 15%;
}

.next-sec {
    display: flex;
    border-bottom: 1px solid var(--main);
}

.next {
    align-items: center;
    padding: 30px 0 30px 0;
}

.next p {
    color: #beb5b5;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 550;
    letter-spacing: 0.6px;
    line-height: 30px;
    margin-left: 20%;
}

.next-img img {
    height: 160px;
    margin-top: 25%;
    margin-left: 60%;
}


.setup {
    align-items: center;
    padding: 0 0 30px 0;
}

.setup h1 {
    font-family: 'Lato', sans-serif;
    color: var(--light);
    font-size: 54px;
    font-weight: 1000;
    text-align: right;
    margin-right: 20%;
    margin-bottom: 50px;
}

.notebook {
    display: flex;
}

.ntb img {
    height: 200px;
    margin-left: 20%;
    transform: scale(1.0) translateY(0px);
    transition: 0.3s;
}

.ntb img:hover {
    transform: scale(1.21) translateY(-5px);
    transition: 0.3s;
}

.icons {
    margin-left: 100px;
    color: white;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 15px;
}

.icon-next {
    margin-top: 7px;
}

.ntb-text {
    font-size: 16px;
    color: var(--light);
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 10px;
}

.ntb-title {
    font-size: 16px;
    color: var(--light);
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 15%;
    margin-top: 40px;
}

.monitor {
    display: flex;
}

.monitor img {
    margin-top: 30px;
    height: 290px;
    margin-left: 20%;
    transform: scale(1.0) translateY(0px);
    transition: 0.3s;
}

.monitor img:hover {
    transform: scale(1.21) translateY(-5px);
    transition: 0.3s;
}

.icons2 {
    margin-left: 78px;
    margin-top: 110px;
    color: white;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
}

.mnt-text {
    font-size: 16px;
    color: var(--light);
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 10px;
    margin-top: 95px;
}

.mnt-title {
    font-size: 16px;
    color: var(--light);
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 18%;
    margin-top: 120px;
}



.mobile {
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--main);
}

.mobile img {
    margin-top: 30px;
    height: 220px;
    margin-left: 18%;
    transform: scale(1.0) translateY(-0px);
    transition: 0.3s;    
}

.mobile img:hover {
    transform: scale(1.21) translateY(-5px);
    transition: 0.3s;
}

.icons3 {
    margin-left: 78px;
    margin-top: 80px;
    color: white;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
}

.mb-text {
    font-size: 16px;
    color: var(--light);
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 10px;
    margin-top: 65px;
}

.mb-title {
    font-size: 16px;
    color: var(--light);
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 15%;
    margin-top: 100px;
}

.others img {
    margin-top: 50px;
    height: 150px;
    transform: scale(1.0) translateY(-0px);
    transition: 0.3s;   
    margin-left: 30px; 
    padding-bottom: 20px;
    border-bottom: 1px solid var(--main);
}

.others img:hover {
    transform: scale(1.21) translateY(-5px);
    transition: 0.3s;
}


.socials h1 {
    font-family: 'Lato', sans-serif;
    color: var(--light);
    font-size: 54px;
    font-weight: 1000;
    text-align: center;
    margin-bottom: 10px;
}

.socials p {
    font-family: 'Josefin Sans', sans-serif;
    color: #beb5b5;
    text-align: center;
}

.socials-icon {
    display: flex;
    font-size: 64px;
    justify-content: center;
    margin-top: 50px;
    color: var(--light);
}

ion-icon {
    margin-left: 40px;
}

.links {
    padding-bottom: 50px;
    border-bottom: 1px solid var(--main);
}

.links a {
    color: var(--light);
    transform: scale(1.0) translateY(0px);
    transition: 0.3s;
}

.links a:hover {
    transform: scale(1.21) translateY(-5px);
    transition: 0.3s;
} 

.serv h1 {
    font-family: 'Lato', sans-serif;
    color: var(--light);
    font-size: 54px;
    font-weight: 1000;
    text-align: center;
    margin-bottom: 10px;
}

.serv p {
    font-family: 'Josefin Sans', sans-serif;
    color: #beb5b5;
    text-align: center;
}

.serv-icon img {
    height: 70px;
    margin-left: 40px;
}

.serv-icon {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.services a {
    color: var(--light);
    transform: scale(1.0) translateY(0px);
    transition: 0.3s;
}

.services a:hover {
    transform: scale(1.21) translateY(-5px);
    transition: 0.3s;
} 

.services {
    padding-bottom: 50px;
    border-bottom: 1px solid var(--main);
}

.end {
    align-items: center;
    padding: 30px 8% 30px 8%;
    border-bottom: 2px solid var(--main);
    display: flex;
    justify-content: center;
}

.end-image img {
    height: 250px;
    margin-top: 30%;
    margin-right: 60%;
}

.end h1 {
    font-family: 'Lato', sans-serif;
    color: var(--light);
    font-size: 54px;
    font-weight: 1000;
    text-align: left;
    margin-left: 25%;
}

.end p {
    color: #beb5b5;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 550;
    letter-spacing: 0.6px;
    line-height: 30px;
    margin-right: 10%;
} 