.intro {
    border-bottom: 2px solid var(--main);
    background-image: url("/img/intro2.png");
    background-repeat: no-repeat; 
    background-position: center;
    background-size: 1300px;
}

.introduction {
    padding: 73px 0;
    width: 100%;
    height: 600px;
}

.introduction h1 {
    text-align: center;
    color: var(--light);
    position: absolute;
    left: 10%;
    right: 10%;
    margin-top: 250px;
    font-size: 64px;
    font-family: 'Permanent Marker', cursive;
    animation-duration: 1.7s;
}

.introduction p {
    position: absolute;
    color: var(--light);
    text-align: center;
    left: 10%;
    right: 10%;
    margin-top: 340px;
    font-size: 24px;
    animation-duration: 2s;
    font-family: 'Josefin Sans', sans-serif;
}












.about-first {
    padding: 30px 10px 30px 10px;
}

.about-title {
    width: 100%;
    text-align: center;
    align-items: center;
}

.about-one {
    display: flex;
    justify-content: center;
}

.about-one img {
    height: 240px;
    margin-left: 100px;
}

.minecraft-mobile img {
    display: none;
}

.about-title h1 {
    font-family: 'Lato', sans-serif;
    color: var(--light);
    font-size: 54px;
    font-weight: 1000;
}

.about-one p {
    margin-top: 40px;
    color: #beb5b5;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 550;
    letter-spacing: 0.6px;
    line-height: 30px; 
    text-align: left;
    box-sizing: border-box;
    width: 850px;
}




.about-second {
    border-bottom: 1px solid var(--main);
    padding: 30px 10px 50px 10px;
}

.about-two {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-two p {
    color: #beb5b5;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 550;
    letter-spacing: 0.6px;
    line-height: 30px;
    text-align: right;
    box-sizing: border-box;
    width: 850px;
}

.about-two img {
    height: 170px;
    margin-right: 100px;
}












.setup {
    justify-content: center;
    align-items: center;
    padding: 0 0 30px 0;
}

.setup h1 {
    font-family: 'Lato', sans-serif;
    color: var(--light);
    font-size: 54px;
    font-weight: 1000;
    text-align: center;
    margin-bottom: 50px;
}

.notebook {
    display: flex;
    justify-content: center;
}

.ntb img {
    height: 200px;
    margin-right: 8%;
    transform: scale(1.0) translateY(0px);
    transition: 0.3s;
}

.ntb img:hover {
    transform: scale(1.21) translateY(-5px);
    transition: 0.3s;
}

.icons {
    margin-left: 100px;
    color: white;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 15px;
}

.icon-next {
    margin-top: 7px;
}

.ntb-text {
    font-size: 16px;
    color: var(--light);
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 10px;
}

.ntb-title {
    font-size: 16px;
    color: var(--light);
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 8%;
    margin-top: 40px;
}

.mobile-setup {
    display: flex;
}




.monitor {
    display: flex;
    justify-content: center;
}

.monitor img {
    margin-top: 30px;
    height: 290px;
    margin-right: 8%;
    transform: scale(1.0) translateY(0px);
    transition: 0.3s;
}

.monitor img:hover {
    transform: scale(1.21) translateY(-5px);
    transition: 0.3s;
}

.icons2 {
    margin-left: 78px;
    margin-top: 110px;
    color: white;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
}

.mnt-text {
    font-size: 16px;
    color: var(--light);
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 10px;
    margin-top: 95px;
}

.mnt-title {
    font-size: 16px;
    color: var(--light);
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 8%;
    margin-top: 120px;
}

.mobile-setup2 {
    display: flex;
}


.mobile {
    display: flex;
    justify-content: center;
    padding: 0 8% 20px 8%;
}

.mobile img {
    margin-top: 30px;
    height: 170px;
    transform: scale(1.0) translateY(-0px);
    transition: 0.3s;    
}

.mobile img:hover {
    transform: scale(1.21) translateY(-5px);
    transition: 0.3s;
}

.icons3 {
    margin-left: 76px;
    margin-top: 80px;
    color: white;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
}

.mb-text {
    font-size: 16px;
    color: var(--light);
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 10px;
    margin-top: 65px;
}

.mb-title {
    font-size: 16px;
    color: var(--light);
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 8%;
    margin-top: 100px;
}

.mobile-setup3 {
    display: flex;
}




.others {
    display: flex;
    justify-content: center;
}

.others img {
    margin-top: 50px;
    height: 150px;
    transform: scale(1.0) translateY(-0px);
    transition: 0.3s;   
    margin-left: 30px; 
    padding-bottom: 20px;
    border-bottom: 1px solid var(--main);
    border-top: 1px solid var(--main);
}

.others img:hover {
    transform: scale(1.30) translateY(-5px);
    transition: 0.3s;
    border: 2px outset var(--main);
    border-radius: 40px;
}











.socials-text h1 {
    font-family: 'Lato', sans-serif;
    color: var(--light);
    font-size: 54px;
    font-weight: 1000;
    text-align: center;
    margin-bottom: 10px;
}

.socials-text p {
    font-family: 'Josefin Sans', sans-serif;
    color: #beb5b5;
    text-align: center;
}

.socials-icon {
    display: flex;
    font-size: 64px;
    justify-content: center;
    margin-top: 50px;
    color: var(--light);
}

ion-icon {
    margin-left: 40px;
}

.links {
    padding-bottom: 50px;
    border-bottom: 1px solid var(--main);
}

.links a {
    color: var(--light);
    transform: scale(1.0) translateY(0px);
    transition: 0.3s;
}

.links a:hover {
    transform: scale(1.21) translateY(-5px);
    transition: 0.3s;
} 

.serv-text h1 {
    font-family: 'Lato', sans-serif;
    color: var(--light);
    font-size: 54px;
    font-weight: 1000;
    text-align: center;
    margin-bottom: 10px;
}

.serv-text p {
    font-family: 'Josefin Sans', sans-serif;
    color: #beb5b5;
    text-align: center;
}

.serv-icon img {
    height: 70px;
    margin-left: 40px;
}

.serv-icon {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.services a {
    color: var(--light);
    transform: scale(1.0) translateY(0px);
    transition: 0.3s;
}

.services a:hover {
    transform: scale(1.21) translateY(-5px);
    transition: 0.3s;
} 

.services {
    padding-bottom: 50px;
    border-bottom: 1px solid var(--main);
}

.end {
    align-items: center;
    padding: 30px 8% 30px 8%;
    border-bottom: 2px solid var(--main);
    display: flex;
    justify-content: center;
}

.end-image img {
    margin-top: 30%;
    height: 240px;
    margin-left: 100px;
}

.end h1 {
    font-family: 'Lato', sans-serif;
    color: var(--light);
    font-size: 54px;
    font-weight: 1000;
    text-align: center;
}

.end p {
    color: #beb5b5;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 550;
    letter-spacing: 0.6px;
    line-height: 30px;
    margin-right: 10%;
    box-sizing: border-box;
    width: 850px;
} 