@media only screen and (max-width: 896px) {
    section {
        padding: 0 10%;
    }

    .navbar a {
        display: none;
    }

    .introduction h1 {
        font-size: 40px;
    }
    .introduction p {
        font-size: 16px;
        margin-top: 320px;
    }
    .introduction {
        height: 600px;
    }


    .about-one {
        display: block;
    }
    .about-title h1 {
        text-align: center;
        margin: 10px 0 0 0;
    }
    .about-one p {
        text-align: center;
        margin: 20px 0 0 0;
        box-sizing: unset;
        width: 100%;
    }
    .about-one img {
        height: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-left: 50px;
    }


    .about-two {
        display: block;
    }
    .about-two p {
        text-align: center;
        margin: 20px 0 0 0;
        box-sizing: unset;
        width: 100%;
    }
    .minecraft {
        display: none;
    }
    .minecraft-mobile img {
        margin-top: 60px;
        display: block;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
    }
}