.socials {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(46,47,47,1) 50%, rgba(0,0,0,1) 100%);
    border-radius: 40px;
    width: 800px;
    margin: auto;    
}

h1 {
    animation: backInDown;
    animation-duration: 2s;
    color: #FFF;
    text-align: center;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    font-size: 48px;
    border-bottom: 2px solid var(--main);
    padding-top: 15px;
    padding-bottom: 5px;
}

p {
    animation: fadeInDown;
    animation-duration: 3s;
    color: #beb5b5;
    text-align: center;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    padding: 10% 0 10% 0;
}

.dis {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.discord {
    animation: fadeInDown;
    animation-duration: 3s;
    color: #FFF;
    letter-spacing: 3px;
    font-weight: 600;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    border-radius: 99px;
    background-color: #7289d9;
    padding: 25px 30px;
    transform: scale(1.0);
    transition: 1.0s;
  }

  .discord2 {
    animation: fadeInDown;
    animation-duration: 3s;
    color: #FFF;
    letter-spacing: 3px;
    font-weight: 600;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    border-radius: 99px;
    background-color: #7289d9;
    padding: 25px 30px;
    margin-left: 80px;
    transform: scale(1.0);
    transition: 1.0s;
  }

  .discord:hover {
    transform: scale(1.3);
    transition: 1.0s;
  }

  .discord2:hover {
    transform: scale(1.3);
    transition: 1.0s;
  }


  .links {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 30px;
  }

  .instagram {
    animation: fadeInDown;
    animation-duration: 3s;
    color: #FFF;
    letter-spacing: 3px;
    font-weight: 600;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    border-radius: 99px;
    background-color: #C13584;
    padding: 25px 30px;
    transform: scale(1.0);
    transition: 1.0s;
  }

  .tiktok {
    animation: fadeInDown;
    animation-duration: 3s;
    color: #FFF;
    letter-spacing: 3px;
    font-weight: 600;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    border-radius: 99px;
    background-color: #433f3f;
    padding: 25px 30px;
    margin-left: 40px;
    transform: scale(1.0);
    transition: 1.0s;
  }

  .youtube {
    animation: fadeInDown;
    animation-duration: 3s;
    color: #FFF;
    letter-spacing: 3px;
    font-weight: 600;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    border-radius: 99px;
    background-color: #9c1919;
    padding: 25px 30px;
    margin-left: 40px;
    transform: scale(1.0);
    transition: 1.0s;
  }

  .instagram:hover {
    transform: scale(1.3);
    transition: 1.0s;
  }

  .tiktok:hover {
    transform: scale(1.3);
    transition: 1.0s;
  }

  .youtube:hover {
    transform: scale(1.3);
    transition: 1.0s;
  }




  @media only screen and (max-width: 896px) {
    .body {
        padding: 0 50px;
    }
    .socials {
        width: 100%;
        height: 100%;
        padding: 0 10px;
    }
    .dis {
        display: block;
    }
    .discord {
        display: block;
        text-align: center;
        width: 80%;
    }
    .discord2 {
        display: block;
        text-align: center;
        width: 80%;
        margin-top: 50px;
        margin-left: 0;
    }
    .links {
        display: block;
    }
    .instagram {
        display: block;
        text-align: center;
        width: 80%;
        margin-top: 50px;
    }
    .tiktok {
        display: block;
        text-align: center;
        width: 80%;
        margin-top: 50px;
        margin-left: 0;
    }
    .youtube {
        display: block;
        text-align: center;
        width: 80%;
        margin-top: 50px;
        margin-left: 0;
    }
  }